body{
  margin:0;
  font-family:Arial, sans-serif;
  background:linear-gradient(135deg,#ff6fa5,#ff99cc);
  color:white;
  text-align:center;
  overflow:hidden;
}

.hearts-bg{
  position:fixed;
  width:100%;
  top:20%;
  font-size:40px;
  opacity:0.08;
  z-index:-1;
  line-height:80px;
}

.page{
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  opacity:0;
  transition:0.5s;
}

.page.active{
  opacity:1;
  z-index:1;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:25px;
  background:white;
  color:#ff4f8b;
  font-weight:bold;
  margin-top:20px;
  cursor:pointer;
}

input{
  padding:8px;
  border-radius:15px;
  border:none;
  margin-top:15px;
  text-align:center;
}

#letters{
  margin:20px;
}

.letter{
  display:inline-block;
  background:white;
  color:#ff4f8b;
  padding:8px;
  margin:3px;
  border-radius:6px;
  cursor:pointer;
}

#timer{
  font-size:60px;
  font-weight:bold;
}

.cinematic{
  background:black;
  font-size:28px;
}

#confetti span{
  position:absolute;
  width:6px;
  height:6px;
  animation:fall 2s linear forwards;
}

@keyframes fall{
  from{ transform:translateY(-10vh); }
  to{ transform:translateY(100vh); }
}